## Trigger Modal rebuild
tqdm
torch
opencv-python
ffmpegcv
numpy
python_speech_features 
boto3
scipy
scenedetect
scikit-learn
gdown
torchvision
pandas
transformers
accelerate
datasets
google-genai
pysubs2
fastapi[standard]
whisperx